.arrive {
  transition: all .4s;
  transform: translateX(400px) !important;
}

.show {
  transition: all .4s;
  transform: translateX(0px) !important;
}

.expire {
  transition: all .4s;
  transform: translateX(400px);
}
